<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="templateux-footer bg-light" th:fragment="footer">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-4 pr-md-5">
                <div class="block-footer-widget">
                    <h3>渐渐姑姑的网店</h3>
                    <p>来自于云南大理的深山原石，知名设计师设计，精心打磨，成就一个个精品。</p>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <div class="block-footer-widget">
                            <h3>Learn More</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">How it works?</a></li>
                                <li><a href="#">Useful Tools</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block-footer-widget">
                            <h3>Support</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Help Desk</a></li>
                                <li><a href="#">Knowledgebase</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block-footer-widget">
                            <h3>About Us</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="block-footer-widget">

                        </div>
                    </div>
                </div> <!-- .row -->

            </div>
        </div> <!-- .row -->


    </div>
</footer> <!-- .templateux-footer -->
</html>