<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="leftmenu" class="list-group">
    <li class="list-group-item item-title">
        <a class="list-group-item-heading">
            <i class="fa fa-arrow-circle-right"></i>
            订单管理
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='order'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','5100')}">
        <a class="list-group-item-heading" href="/order/list">
            订单列表
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='chart'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','5200')}">
        <a class="list-group-item-heading" href="/order/chart">
            统计图
        </a>
    </li>

</ul>
</html>