<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="leftmenu" class="list-group">
    <li class="list-group-item item-title">
        <a class="list-group-item-heading">
            <i class="fa fa-arrow-circle-right"></i>
            产品管理
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='product'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','2131')}">
        <a class="list-group-item-heading" href="/product/list">
            产品列表
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='category'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','2132')}">
        <a class="list-group-item-heading" href="/category/list">
            产品分类
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='shop'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','2133')}">
        <a class="list-group-item-heading" href="/product/shop">
            积分商城
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='pdelete'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','2134')}">
        <a class="list-group-item-heading" href="/product/delete">
            已下架产品
        </a>
    </li>
</ul>
</html>