<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="leftmenu" class="list-group">
    <li class="list-group-item item-title">
        <a class="list-group-item-heading">
            <i class="fa fa-arrow-circle-right"></i>
            管理设置
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='admin'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','2901')}">
        <a class="list-group-item-heading" href="/system/admin/list">
            管理员
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='admingroup'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','2902')}">
        <a class="list-group-item-heading" href="/system/admingroup/list">
            管理员组
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='adminauth'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','2903')}">
        <a class="list-group-item-heading" href="/system/admingroup/auth">
            权限配置
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='adminlog'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','2904')}">
        <a class="list-group-item-heading" href="/system/adminlog/list">
            管理员日志
        </a>
    </li>

    <li class="list-group-item item-title">
        <a class="list-group-item-heading">
            <i class="fa fa-arrow-circle-right"></i>
            参数配置
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='membership'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','2905')}">
        <a class="list-group-item-heading" href="/membership/list">
            会员制度配置
        </a>
    </li>

</ul>
</html>