<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="topmenu" class="nav nav-tabs topmenu">
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','9999')}" th:class="${TopMenuFlag=='index'?'active':''}" ><a href="/admin">首页</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','1000')}" th:class="${TopMenuFlag=='sitepage'?'active':''}"><a href="/site">网页配置</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','2000')}" th:class="${TopMenuFlag=='resource'?'active':''}"><a href="/resource">资料管理</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','3000')}" th:class="${TopMenuFlag=='product'?'active':''}"><a href="/products">产品管理</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','5000')}" th:class="${TopMenuFlag=='order'?'active':''}"><a href="/order">订单管理</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','4000')}" th:class="${TopMenuFlag=='user'?'active':''}"><a href="/user">会员管理</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','7000')}" th:class="${TopMenuFlag=='suggestion'?'active':''}"><a href="/suggestion">用户意见</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','8000')}" th:class="${TopMenuFlag=='survey'?'active':''}"><a href="/survey">问卷调查</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','6000')}" th:class="${TopMenuFlag=='system'?'active':''}"><a href="/system">系统设置</a></li>
</ul>
</html>