<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="leftmenu" class="list-group">
    <li class="list-group-item item-title">
        <a class="list-group-item-heading">
            <i class="fa fa-arrow-circle-right"></i>
            会员管理
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='userinfo'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','4100')}">
        <a class="list-group-item-heading" href="/user/list">
            会员信息
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='check'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','4200')}">
        <a class="list-group-item-heading" href="/user/check">
            积分等级查询
        </a>
    </li>
    <li th:class="${LeftMenuFlag=='modify'?'list-group-item active':'list-group-item'}"
        th:if="${#strings.contains(session.ADMIN_AUTH+'','4300')}">
        <a class="list-group-item-heading" href="/user/modify">
            积分等级修改
        </a>
    </li>

</ul>
</html>