<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_system_leftmenu::leftmenu"></div>
    </div>
    <div class="col-md-10">
        <div class="toolbar">
            <div class="col-md-6">
                <select class="form-control" id="groupSelect">
                    <option value="0">请选择</option>
                    <option th:each="group:${groupList}" th:value="${group.id}" th:text="${group.name}"></option>
                </select>
            </div>
            <div class="col-md-6 right">
                <a class="btn btn-primary" id="auth-save" lay-demo="saveAuth">
                    <i class="fa fa-save"></i> 保存权限
                </a>
            </div>
        </div>
        <!--
        <table class="table">
            <thead>
            <tr>
                <th>全选<input class="select-all" value="1" type="checkbox"></th>
                <th>编码</th>
                <th>名称</th>
            </tr>
            </thead>
            <tbody>
            <form id="myForm">
                <input type="hidden" name="id" th:value="${groupId}">
            <tr th:each="auth:${list}">
                <td>
                    <input type="checkbox"
                           name="authcodes[]"
                           th:value="${auth.code}"
                           th:checked="${auth.code!=null && #strings.contains(authlist, auth.code)}"
                           class="select-item"/>
                </td>
                <td th:text="${auth.code}">code</td>
                <td th:text="${auth.intro}">intro</td>
            </tr>
            </form>
            </tbody>
        </table>
        -->

        <div id="authTree"></div>
    </div>
</div>

<script th:src="@{~/js/common-files.js}"></script>
<script th:src="@{~/layui/layui.all.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{~/layui/css/layui.css}">
<script>
    $(function () {
        layui.use(['tree'], function(){
            var tree = layui.tree;
            var treeList = [];
            var checkedNodes = [];
            $.ajax({
                type:"post",
                data:{},
                url:"/system/admingroup/auth/tree",
                dataType:"json",
                async:false,
                success:function (data) {
                    treeList = data.tree;
                }
            });
            $("body").on("change", "#groupSelect",function () {
                if($(this).val() != "0"){
                    $.ajax({
                        type:"post",
                        data:{
                            groupid:$("#groupSelect").val()
                        },
                        dataType: "json",
                        url: "/system/admingroup/auth/list",
                        success: function (data) {
                            var list = data.list;
                            var obj = $("#authTree").find("input[name='layuiTreeCheck']");
                            obj.each(function () {
                                var code = $(this).val();
                                if($.inArray(code, list) > -1){
                                    $(this).next(".layui-form-checkbox").addClass("layui-form-checked")
                                }
                            })
                        }
                    })
                }
            });

            tree.render({
                elem: '#authTree',
                data: treeList,
                id:"authCode",
                showCheckbox: true
            });


            $("#auth-save").click(function () {

            //    var platform = '';                 //字符串形式
                var platform_arr = new Array();    //数组形式

                var obj = $("#authTree").find('.layui-form-checked');

                obj.each(function () {
                //    platform += $(this).prev().val() + ',';
                    platform_arr.push($(this).prev().val());
                });

                $.ajax({
                    type:"post",
                    data:{
                        id: $("#groupSelect").val(),
                        authcodes: platform_arr
                    },
                    dataType:"json",
                    url:"/system/admingroup/auth/save",
                    success:function (data) {
                        if(data.retCode ==0){
                            location.reload();
                        }else{
                            layer.msg(data.retMsg);
                        }
                    }
                })
            });

        });





    })
</script>
<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>
</body>
</html>