<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<script type="text/javascript" th:src="@{~/js/bootstrap.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{~/css/drag.css}">
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_resource_leftmenu::leftmenu"></div>
    </div>
    <form class="form-horizontal col-md-10" id="myForm" style="margin-bottom: 50px">
        <h3 class="text-primary">基本信息</h3>
        <hr/>
        <div class="form-group col-md-12">
            <label class="control-label col-md-2">标题</label>
            <div class="col-md-10">
                <input class="form-control" placeholder="输入文章标题" type="text" name="title" th:value="${article.title}"/>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-4">编号</label>
            <div class="col-md-8">
                <input class="form-control" placeholder="输入文章编号" type="text" name="code" readonly th:value="${article.code}"/>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-4">作者</label>
            <div class="col-md-8">
                <input class="form-control" placeholder="输入文章作者" type="text" name="author" th:value="${article.author}"/>
            </div>
        </div>
        <div class="form-group col-md-12">
            <h3 class="text text-primary">内容</h3>
            <hr/>
            <textarea class="form-control" id="editor" th:text="${article.content}"></textarea>
            <textarea style="display: none;" name="content" th:text="${article.content}"></textarea>
        </div>


        <div class="form-group center col-md-12">
            <br/>
            <input type="hidden" name="id" th:value="${article.id}" readonly/>
            <a class="btn btn-warning" href="javascript:" id="submit-form">保 存</a>
            <a href="javascript:history.back()" class="btn btn-default">返 回</a>
        </div>
    </form>
</div>

<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>

<script type="text/javascript" th:src="@{~/js/tinymce/tinymce.js}"></script>
<script>
    $(function () {
        tinyMCE.init({
            selector: "textarea#editor",
            language: "zh_CN",
            height: 500,
            plugins: [
                "colorpicker, emoticons, fullpage, fullscreen, help, hr, image, imagetools, insertdatetime, link, lists, media, paste, preview, print, table, textcolor"
            ],
            toolbar: "undo redo | styleselect | fontselect | fontsizeselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor emoticons | fullscreen preview ",
            convert_urls: false,
            //从ms复制粘贴
            powerpaste_word_import: 'propmt',// 参数可以是propmt, merge, clear，效果自行切换对比
            powerpaste_html_import: 'propmt',// propmt, merge, clear
            powerpaste_allow_local_images: true,
            paste_data_images: true,

            imageupload_url: '/article/upload',
            images_upload_credentials: true,
            images_upload_handler: function(blobInfo, success, failure) {
                var form = new FormData();
                form.append('fileupload', blobInfo.blob(), blobInfo.filename());
                $.ajax({
                    url: "/article/upload",
                    type: "post",
                    data: form,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function(data) {
                        if(data.retCode == 0){
                            success(data.path);
                        }else {
                            failure(data.retMsg);
                        }
                    },
                    error: function(e) {
                        failure("图片上传失败");
                    }
                });
            }
        });

        $("#submit-form").click(function () {
            save();
            $.ajax({
                type : "post",
                data : $("#myForm").serialize(),
                dataType : "json",
                url : "/article/edit/submit",
                success :function (data) {
                    if(data.retCode == 0){
                        location.href="/article/list";
                    }else {
                        layer.msg(data.retMsg);
                    }
                }
            })
        });

        function save() {
            var content = tinymce.get("editor").getContent({format:'raw'});
            $("textarea[name='content']").val(content);
        }
    })
</script>
</body>
</html>