<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_system_leftmenu::leftmenu"></div>
    </div>
    <div class="col-md-10">
        <div class="toolbar">
            <div th:if="${#strings.contains(session.ADMIN_AUTH+'','6502')}" class="col-md-6">
                <a class="btn btn-primary btn-outline" id="add-admingroup">
                    <i class="fa fa-plus"></i> 添加会员等级
                </a>
            </div>
            <div class="col-md-6 right">

                <a class="btn btn-success btn-outline" id="userLevelRefresh" title="用户等级刷新"><i class="fa fa-refresh"></i></a>
            </div>

        </div>

        <table class="table">
            <thead>
            <tr>
                <th>会员等级</th>
                <th>名称</th>
                <th>最低积分</th>
                <th>最高积分</th>
                <th>说明</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="membership:${list}">
                <td th:text="${membership.level}">name</td>
                <td th:text="${membership.title}">sort</td>
                <td th:text="${membership.minPoints}">sort</td>
                <td th:text="${membership.maxPoints}">sort</td>
                <td th:text="${membership.content}">content</td>
                <td class="center">
                    <input type="hidden" class="id" th:value="${membership.id}"/>
                    <a th:if="${#strings.contains(session.ADMIN_AUTH+'','6504')}" class="text-danger remove" href="javascript:" title="删除">
                        <i class="fa fa-close"></i>
                    </a>
                </td>

            </tr>
            <tr th:if="${#lists.isEmpty(list)}">
                <td colspan="6" class="center">暂无数据</td>
            </tr>
            </tbody>
        </table>
        <page th:replace="/admin/_pagecount::page"></page>

        <div id="groupTree"></div>
    </div>
</div>
<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>
<script>
    $(function () {
        $("#userLevelRefresh").click(function () {
           layer.confirm("确认刷新用户等级吗？刷新过程较慢，请耐心等待~",{
               btn: ['确认','取消']
           }, function(){
               var index = layer.load(0, {shade: false});
               $.ajax({
                   type:"post",
                   data:{},
                   dataType:"json",
                   url:"/user/refresh",
                   success:function (data) {
                       layer.close(index);
                       if(data.retCode==0){
                           location.reload();
                       }else{
                           layer.msg(data.retMsg);
                       }
                   }
               });
           }, function(){});
        });

        $("#add-admingroup").click(function () {
            layer.open({
                type: 2,
                title: '新增会员制度',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: '/membership/add',
                success:function (layero, index) {
                    layer.iframeAuto(index);
                }
            });
        });
/*
        $(".edit").click(function () {
            var id = $(this).siblings(".id").val();
            layer.open({
                type: 2,
                title: '编辑会员制度',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: '/membership/edit?id='+id,
                success:function (layero, index) {
                    layer.iframeAuto(index);
                }
            });
        });
        */

        $(".remove").click(function () {
            var id = $(this).siblings(".id").val();
            layer.confirm('确认删除该条会员制度吗？', {
                    btn: ['确认','取消']
                }, function(){
                    var index = layer.load(0, {shade: false});
                    $.ajax({
                        type:"post",
                        data:{
                            id:id
                        },
                        dataType:"json",
                        url:"/membership/remove",
                        success:function (data) {
                            layer.close(index);
                            if(data.retCode==0){
                                location.reload();
                            }else{
                                layer.msg(data.retMsg);
                            }
                        }
                    });
                }, function(){}
            );

        });



    })
</script>
</body>
</html>