<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body style="padding: 0 3rem;">
<div class="container">
    <form class="form-horizontal" id="myForm">
        <div class="form-group">
            <label>产品编号：<span class="text-primary" th:text="${product.code}"></span></label>
        </div>
        <div class="form-group">
            <label>产品名称：<span class="text-primary" th:text="${product.name}"></span></label>
        </div>
        <div class="form-group">
            <label>标价：<span class="text-primary" th:text="${product.price}"></span> 元</label>
        </div>
        <div class="form-group">
            <label>库存：<span class="text-primary" th:text="${product.stock}"></span> 件</label>
        </div>
        <hr/>
        <div class="form-group ">
            <label>售出件数：</label>
            <input type="number" class="form-control" name="count" value="1" min="1"/>
        </div>
        <div class="form-group">
            <label>单件成交价：</label>
            <input type="number" class="form-control" name="price" value="0" min="0"/>
        </div>
        <div class="form-group">
            <label>总价：</label>
            <input type="text" class="form-control" name="amount" value="0" readonly/>
        </div>
        <div class="form-group">
            <label>会员账号：</label>
            <input type="text" class="form-control" name="userAccount" value=""/>
        </div>
        <div class="form-group">
            <label>备注：</label>
            <textarea type="text" class="form-control" rows="5" name="remark" value="" ></textarea>
        </div>
        <hr/>
        <div class="form-group right">
            <input type="hidden" name="productId" th:value="${product.id}" />
            <input type="button" id="submit-save" class="btn btn-warning btn-outline" value="确认" />
        </div>
    </form>
</div>
<script>
    $(function () {
        $("body").on("change", "input[type='number']", function () {
            var price = $("input[name='price']").val();
            var count = $("input[name='count']").val();
            $("input[name='amount']").val(price*count);
        });

        $("#submit-save").click(function () {
            $.ajax({
                type : "post",
                data : $("#myForm").serialize(),
                dataType : "json",
                url : "/order/sell",
                success : function (data) {
                    if(data.retCode == 0){
                        parent.location.reload();
                    }else {
                        layer.msg(data.retMsg);
                    }
                }
            })
        });
    })
</script>
</body>
</html>