<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_product_leftmenu::leftmenu"></div>
    </div>
    <div class="col-md-10">
        <div class="toolbar">
            <div class="col-md-4">
                <a class="btn btn-warning batch-upper" href="javascript:"><i class="fa fa-upload"></i> 批量上架</a>

            </div>
            <form class="col-md-8 right form-inline">
                <input class="form-control" name="code" value="产品编号"/>
                <input class="form-control" name="title" value="产品标题"/>
                <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    <div class="checkbox-inline">
                        <input type="checkbox" class="select-all" />
                        <label>全选</label>
                    </div>
                </th>
                <th>编号</th>
                <th>名称</th>
                <th>所属类别</th>
                <th>标价/积分</th>
                <th>库存</th>
                <th>商城</th>
                <th>说明</th>
                <th>产品图</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product:${list}">
                <td class="center">
                    <div class="checkbox-inline">
                        <input type="checkbox" th:value="${product.id}" class="select-item"/>
                        <label></label>
                    </div>
                </td>
                <td class="oneline-column" th:text="${product.code}"></td>
                <td class="oneline-column" th:text="${product.name}"></td>
                <td th:text="${product.category.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stock}"></td>

                <td th:if="${product.isShop==1}" class="text text-success" >是</td>
                <td th:if="${product.isShop==0}" class="text text-muted" >否</td>

                <td th:text="${product.content}"></td>
                <td class="center">
                    <a class="btn btn-info btn-outline btn-xs product-image" title="产品原图" th:attr="data-id=${product.id}" >
                        <i class="fa fa-image"></i>
                    </a>
                </td>

            </tr>
            <tr th:if="${#lists.isEmpty(list)}">
                <td colspan="10" class="center">暂无数据</td>
            </tr>
            </tbody>
        </table>
        <page th:replace="/admin/_page::page"></page>
    </div>
</div>
<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>
<script>
    $(function () {
        $(".product-image").click(function () {
            var id = $(this).data("id");
            $.ajax({
                type:"post",
                data:{
                    id:id
                },
                dataType:"json",
                url:"/product/getimages",
                success:function (data) {
                    if(data.retCode == 0){
                        layer.photos({
                            photos: data ,
                            anim: 5,
                            shade: 0,
                            closeBtn:1,
                            area:['600px']
                        });
                    }else {
                        layer.msg(data.retMsg);
                    }
                }
            })

        });

        $(".batch-upper").click(function () {
            var ids = getSelectedIds();
            if(ids.length < 1){
                layer.msg("请勾选您要下架的记录");
                return;
            }
            var index = layer.load(0, { shade: false });
            $.ajax({
                type :"post",
                data :{
                    ids: ids
                },
                dataType:"json",
                url: "/product/upper",
                success:function (msg) {
                    layer.close(index);
                    if(msg.retCode == 0){
                        location.reload();
                    }else {
                        layer.msg(msg.retMsg);
                    }
                }
            })
        });
    });
</script>
</body>
</html>