<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_system_leftmenu::leftmenu"></div>
    </div>
    <div class="col-md-10">
        <div class="toolbar">
            <div th:if="${#strings.contains(session.ADMIN_AUTH+'','6802')}" class="col-md-6">
                <a class="btn btn-primary btn-outline" id="add-service">
                    <i class="fa fa-plus"></i> 新增服务
                </a>
            </div>

        </div>

        <table class="table">
            <thead>
            <tr>
                <th>服务名称</th>
                <th>描述</th>
                <th>图片编码</th>
                <th>排序</th>
                <th width="80px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service:${list}">
                <td th:text="${service.text}">name</td>
                <td th:text="${service.desc1}">desc</td>
                <td th:text="${service.value}">pic</td>
                <td th:text="${service.sort}">sort</td>
                <td class="center">
                    <input type="hidden" class="id" th:value="${service.id}"/>
                    <a th:if="${#strings.contains(session.ADMIN_AUTH+'','6803')}" class="text-primary edit" href="javascript:" title="编辑">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a th:if="${#strings.contains(session.ADMIN_AUTH+'','6804')}" class="text-danger remove" href="javascript:" title="删除">
                        <i class="fa fa-close"></i>
                    </a>
                </td>

            </tr>
            <tr th:if="${#lists.isEmpty(list)}">
                <td colspan="7" class="center">暂无数据</td>
            </tr>
            </tbody>
        </table>
        <page th:replace="/admin/_pagecount::page"></page>

        <div id="groupTree"></div>
    </div>
</div>
<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>
<script>
    $(function () {

        $("#add-service").click(function () {
            layer.open({
                type: 2,
                title: '新增服务',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: '/service/add',
                success:function (layero, index) {
                    layer.iframeAuto(index);
                }
            });
        });

        $(".edit").click(function () {
            var id = $(this).siblings(".id").val();
            layer.open({
                type: 2,
                title: '编辑服务',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: '/service/edit?id='+id,
                success:function (layero, index) {
                    layer.iframeAuto(index);
                }
            });
        });


        $(".remove").click(function () {
            var id = $(this).siblings(".id").val();
            layer.confirm('确认删除该服务信息吗？', {
                    btn: ['确认','取消']
                }, function(){
                    var index = layer.load(0, {shade: false});
                    $.ajax({
                        type:"post",
                        data:{
                            id:id
                        },
                        dataType:"json",
                        url:"/service/remove",
                        success:function (data) {
                            layer.close(index);
                            if(data.retCode==0){
                                location.reload();
                            }else{
                                layer.msg(data.retMsg);
                            }
                        }
                    });
                }, function(){}
            );

        });



    })
</script>
</body>
</html>