<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<script type="text/javascript" th:src="@{~/js/bootstrap.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{~/css/drag2.css}">
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_sitepage_leftmenu::leftmenu"></div>
    </div>
    <form class="form-horizontal col-md-10" id="myForm" style="margin-bottom: 50px">
        <h3 class="text-primary">基础信息</h3>
        <hr/>
        <div class="form-group col-md-6">
            <label class="control-label col-md-4">页面编码(英文字母与数字)</label>
            <div class="col-md-8">
                <input type="hidden" name="id" th:value="${page.id}" readonly/>
                <input readonly class="form-control" placeholder="输入页面编码" type="text" name="code" th:value="${page.code}"/>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-4">页面标题</label>
            <div class="col-md-8">
                <input class="form-control" placeholder="输入页面标题" type="text" name="title" th:value="${page.title}"/>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-4">自定义页面样式</label>
            <div class="col-md-8">
                <textarea class="form-control" name="css" th:text="${page.css}" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-4">页面模板</label>
            <div class="col-md-8">
                <select class="form-control" name="tplId" id="pageTPL">
                    <option value="0">选择模板</option>
                    <option th:each="tpl:${list}" th:value="${tpl.id}" th:text="${tpl.name}" th:selected="${tpl.id == page.tplId}"></option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12">
            <h3 class="text-primary">页面布局</h3>
            <hr/>
            <div class="toolbar">
                <div class="text text-primary blocks" title="文字" data-type="text" code=""><i class="fa fa-list"></i></div>
                <div class="text text-success blocks" title="图片" data-type="picture" code=""><i class="fa fa-photo"></i></div>
                <div class="text text-warning blocks" title="视频" data-type="picture" code=""><i class="fa fa-film"></i></div>
                <div class="text text-info blocks" title="轮播图" data-type="picture" code=""><i class="fa fa-newspaper-o"></i></div>

            </div>
            <div class="box" id="init" th:utext="${page.content}">
            </div>
            <textarea style="display: none" name="content" th:value="${page.content}"></textarea>
        </div>


        <div class="form-group center  col-md-12">
            <br/>
            <a class="btn btn-warning" href="javascript:" id="submit-form">保 存</a>
            <a href="javascript:history.back()" class="btn btn-default">返 回</a>
        </div>
    </form>
</div>

<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>
<div th:include="/admin/_sitepage_template::template"></div>

<script type="text/javascript" th:src="@{~/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/drag2.js}"></script>
<script>
    $(function () {

        $("body").on("change", "#pageTPL", function () {
            var tplId = $("#pageTPL option:selected").val();
            if(tplId == 0){
                return;
            }
            $.ajax({
                type:"post",
                data:{
                    id:tplId
                },
                dataType:"json",
                url:"/pagetpl/get",
                success: function (data) {
                    if(data.retCode == 0){
                        $("#init").html(data.content);
                        updateStatus();
                    }else {
                        return;
                    }
                }
            })
        });

        $("#submit-form").click(function () {
            save();
            $.ajax({
                type :"post",
                data : $("#myForm").serialize(),
                dataType :"json",
                url :"/sitepage/edit/submit",
                success : function (data) {
                    if(data.retCode == 0){
                        layer.alert(data.retMsg, {icon:1}, function () {
                            parent.location.href="/sitepage";
                        })
                    }else{
                        layer.msg(data.retMsg);
                    }
                }
            })
        })

        $("#textBox .preview").click(function () {
            var code = $("#textBox input[name='articleCode']").val();
            var obj = $("#textBox .show");
            $.ajax({
                type:"post",
                data:{
                    code:code
                },
                dataType:"json",
                url:"/article/get",
                success:function (data) {
                    if(data.retCode == 0){
                        obj.html(data.content);
                    }  else {
                        obj.html("<label class='text text-muted center'>"+data.retMsg+"</label>");
                    }
                }
            });
        });

        $("#pictureBox .preview").click(function () {
            var code = $("#pictureBox input[name='pictureCode']").val();
            var obj = $("#pictureBox .show");
            $.ajax({
                type:"post",
                data:{
                    code:code
                },
                dataType:"json",
                url:"/picture/get",
                success:function (data) {
                    if(data.retCode == 0){
                        obj.html("<img class='image' src='"+data.url+"' title='"+data.intro+"' style='width:100%'/>");
                    }  else {
                        obj.html("<label class='text text-muted center'>"+data.retMsg+"</label>");
                    }
                }
            });
        })
    });
</script>
</body>
</html>