<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_user_leftmenu::leftmenu"></div>
    </div>
    <div class="col-md-10">
        <div class="col-md-6">
            <div class="bs-callout bs-callout-danger">
                <h4><i class="fa fa-users"></i> 会员总数</h4>
                <h1 class="bolder" th:text="${userCount}"></h1>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>
</body>
</html>