<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_user_leftmenu::leftmenu"></div>
    </div>
    <div class="col-md-10">
        <div th:replace="/admin/_user_template::template"></div>
        <hr/>
        <div class="center" id="userBtns" style="display: none">
            <a class="btn btn-success">消费积分</a>
            <a class="btn btn-warning">累积积分</a>
        </div>
    </div>
</div>
<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>
<div style="display:none;padding:40px;" id="opLevel">
    <h3 id="boxTitle">User</h3>
    <form id="editForm">
        <input type="hidden" name="type" value="0" />
        <input type="hidden" name="account" value="" />
        <input type="number" name="level" value="0" step="100" class="form-control" />
        <button class="btn btn-primary" id="btnSave">保 存</button>
    </form>

</div>
<script>
    $(function () {

        $("#btnIncrease").click(function () {
            $("#opLevel input[name='type']").val(1);
            $("#opLevel input[name='level']").val(0);
            layer.open({
                type: 1,
                title: '升等级',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: $("#opLevel"),
                success:function (layero, index) {
                    layer.iframeAuto(index);
                }
            });
        });

        $("#points_increase").click(function () {
            $("#opLevel input[name='type']").val(0);
            $("#opLevel input[name='level']").val(0);
            layer.open({
                type: 1,
                title: '降等级',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: $("#opLevel"),
                success:function (layero, index) {
                    layer.iframeAuto(index);
                }
            });
        });
        
        $("#btnSave").click(function () {
            var index = layer.load(0, { shade: false });
            $.ajax({
                type:"post",
                data:$("#editForm").serialize(),
                dataType:"json",
                url: "/user/level/submit",
                success: function (data) {
                    layer.close(index);
                    if(data.retCode ==0){

                    }else {
                        layer.msg(retMsg);
                    }
                }
            })
        });
    });
</script>
</body>
</html>