<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_user_leftmenu::leftmenu"></div>
    </div>
    <div class="col-md-10">
        <div th:replace="/admin/_user_template::template"></div>
        <hr/>
        <div class="center" id="userBtns" style="display: none">
            <a class="btn btn-success" id="pointsUp">累积积分</a>
            <a class="btn btn-warning" id="pointsDown">消费积分</a>

            <a class="btn btn-info" id="levelUp">提升等级</a>
            <a class="btn btn-primary" id="levelDown">降低等级</a>
        </div>
    </div>
</div>
<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>

    <div style="padding:40px;display: none" id="opPoints">
        <form id="pointsForm" class="form-horizontal">
            <div class="form-group">
                <label class="control-label">会员账号</label>
                <input type="text" name="account" value="" class="form-control"  readonly/>
            </div>
            <div class="form-group">
                <label class="control-label">变更积分</label>
                <input type="number" name="points" value="0" class="form-control" />
            </div>
            <div class="form-group center">
                <input type="hidden" name="type" value="0" />
                <button class="btn btn-primary" id="pointsSave">保 存</button>
            </div>
        </form>

    </div>

    <div style="padding:40px;display: none" id="opLevel">
        <form id="levelForm" class="form-horizontal">
            <div class="form-group">
                <label class="control-label">会员账号</label>
                <input type="text" name="account" value="" class="form-control"  readonly/>
            </div>
            <div class="form-group">
                <label class="control-label">变更等级</label>
                <input type="number" name="level" value="0" class="form-control" />
            </div>
            <div class="form-group center">
                <input type="hidden" name="type" value="0" />
                <button class="btn btn-primary" id="levelSave">保 存</button>
            </div>
        </form>

    </div>

<script>
    $(function () {

        $("#pointsUp").click(function () {
            $("#opPoints input[name='type']").val(1);
            layer.open({
                type: 1,
                title: '累积积分',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: $("#opPoints")
            });
        });

        $("#pointsDown").click(function () {
            $("#opPoints input[name='type']").val(0);
            layer.open({
                type: 1,
                title: '消费积分',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: $("#opPoints")
            });
        });

        $("#levelUp").click(function () {
            $("#opLevel input[name='type']").val(1);
            layer.open({
                type: 1,
                title: '提升等级',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: $("#opLevel")
            });
        });

        $("#levelDown").click(function () {
            $("#opLevel input[name='type']").val(0);
            layer.open({
                type: 1,
                title: '降低等级',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: $("#opLevel")
            });
        });
        
        $("#pointsSave").click(function () {
            var index = layer.load(0, { shade: false });
            $.ajax({
                type:"post",
                data:$("#pointsForm").serialize(),
                dataType:"json",
                url: "/user/points/submit",
                success: function (data) {
                    layer.close(index);
                    if(data.retCode ==0){

                    }else {
                        layer.msg(retMsg);
                    }
                }
            })
        });

        $("#levelSave").click(function () {
            var index = layer.load(0, { shade: false });
            $.ajax({
                type:"post",
                data:$("#levelForm").serialize(),
                dataType:"json",
                url: "/user/level/submit",
                success: function (data) {
                    layer.close(index);
                    if(data.retCode ==0){

                    }else {
                        layer.msg(retMsg);
                    }
                }
            })
        });
    });
</script>
</body>
</html>