<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/_include::include"></head>
<body>
<header th:include="/admin/_header::header">
    Your Company Name.
</header>
<div th:replace="/admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-2">
        <div th:replace="/admin/_user_leftmenu::leftmenu"></div>
    </div>
    <div class="col-md-10">
        <div class="toolbar">
            <form class="right form-inline" id="myForm">
                <input class="form-control" name="account" placeholder="会员账号" th:value="${account==null?'':account}"/>
                <button type="button" class="btn btn-warning" id="btnSearch"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="form-horizontal box" id="userForm" style="display: none">
            <div class="form-group">
                <label class="control-label col-md-4">
                    <i class="fa fa-user-circle-o"></i>会员姓名：
                </label>
                <div class="col-md-8">
                    <span id="userName"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">
                    <i class="fa fa-envelope"></i>会员账号：
                </label>
                <div class="col-md-8">
                    <span id="userAccount"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">
                    <i class="fa fa-phone"></i>手机号：
                </label>
                <div class="col-md-8">
                    <span id="userMobile"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">
                    <i class="fa fa-braille"></i>现有积分：
                </label>
                <div class="col-md-8">
                    <span class="font-weight-bold" id="userLevel"></span>
                </div>
            </div>
            <div class="form-group" th:if="${#strings.contains(session.ADMIN_AUTH+'','2146')}">
                <button class="btn btn-success" id="btnIncrease">升等级</button>
                <button class="btn btn-warning" id="btnDecrease">降等级</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/admin/_footer::footer">
    Your Company Name.
</footer>
<div style="display:none;padding:40px;" id="opLevel">
    <h3 id="boxTitle">User</h3>
    <form id="editForm">
        <input type="hidden" name="type" value="0" />
        <input type="hidden" name="account" value="" />
        <input type="number" name="level" value="0" step="100" class="form-control" />
        <button class="btn btn-primary" id="btnSave">保 存</button>
    </form>

</div>
<script>
    $(function () {
        $("#btnSearch").click(function () {
            layer.load(0, { shade: false });
           $.ajax({
               type:"POST",
               data:$("#myForm").serialize(),
               url:"/user/get",
               dataType: "json",
               success:function (data) {
                   layer.closeAll();
                    if(data.retCode==0 && data.account != undefined && data.account!=null){
                        $("#userAccount").val(data.account);
                        $("#userMobile").val(data.mobile);
                        $("#userName").val(data.name);
                        $("#userLevel").val(data.level);
                        $("#userForm").css("display","block");
                        $("#editForm input[name='account']").val(data.account);
                    }else {
                        layer.msg(data.retMsg);
                    }
               }
           })
        });

        $("#btnIncrease").click(function () {
            $("#opLevel input[name='type']").val(1);
            $("#opLevel input[name='level']").val(0);
            layer.open({
                type: 1,
                title: '升等级',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: $("#opLevel"),
                success:function (layero, index) {
                    layer.iframeAuto(index);
                }
            });
        });

        $("#btnDecrease").click(function () {
            $("#opLevel input[name='type']").val(0);
            $("#opLevel input[name='level']").val(0);
            layer.open({
                type: 1,
                title: '降等级',
                shadeClose: false,
                shade: 0.3,
                area: '500px',
                content: $("#opLevel"),
                success:function (layero, index) {
                    layer.iframeAuto(index);
                }
            });
        });
        
        $("#btnSave").click(function () {
            var index = layer.load(0, { shade: false });
            $.ajax({
                type:"post",
                data:$("#editForm").serialize(),
                dataType:"json",
                url: "/user/level/submit",
                success: function (data) {
                    layer.close(index);
                    if(data.retCode ==0){

                    }else {
                        layer.msg(retMsg);
                    }
                }
            })
        });
    });
</script>
</body>
</html>