#home .bg-img img{
    width: 100%;
}
#twitter-feed{
    background-image: url("/getpic?code=index-bg05");
}

.twitter-bird span{
    border-radius: 0px;
    height: 100%;
    width: 100%;
    border:none;
}

#counter{
    background-image: url("/getpic?code=index-bg06");
}