#home .bg-img img{
    width: 100%;
}
#twitter-feed{
    background-image: url("/getimg?filename=picture_ww2.jpg");
}

.twitter-bird span{
    border-radius: 0px;
    height: 100%;
    width: 100%;
    border:none;
}

#counter{
    background-image: url("/getimg?filename=picture_ww4.jpg");
}