#home .bg-img img{
    width: 100%;
}
#twitter-feed{
    background-image: url("/getpic?code=index-bg05");
}

.twitter-bird span{
    border-radius: 0px;
    height: 100%;
    width: 100%;
    border:none;
}

#counter{
    background-image: url("/getpic?code=index-bg06");
}

#user-center{
    background-image: url("/getpic?code=usercenter");
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 80px;
}

#user-order{
    background-image: url("/getpic?code=userorder");
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 80px;
}

.right{
    text-align: right;
}

.notice{
    padding:2rem;
    background-color: #333;
}
.notice-content{
    border-bottom: 1px #888 dashed;
    margin-bottom: 2rem;
}

.member-photo img{
    height:26rem;
    width: 100%;
}
.member-info{
    min-height: 12rem;
}