<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.storejj.mapper.SitePageMapper" >
  <resultMap id="BaseResultMap" type="com.cy.storejj.model.SitePage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tpl_id" property="tplId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="css" property="css" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, tpl_id, code, title, create_time, create_by, content, css
  </sql>

  <!-- select -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from site_page
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from site_page
    where code = #{code}
  </select>

  <select id="selectByFilter" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from site_page
    <where>
      <if test="code!=null">
        and code like CONCAT('%',#{code},'%')
      </if>
      <if test="title!=null">
        and title like CONCAT('%',#{title},'%')
      </if>
      <if test="createby!=null">
        and create_by = #{createby}
      </if>
    </where>
    <if test="orderby!=null">
      order by ${orderby}
    </if>
    <if test="orderby == null" >
      order by create_time desc
    </if>
    <if test="pageNum !=null and pageSize !=null">
      limit #{pageNum}, #{pageSize}
    </if>
  </select>

  <select id="countByFilter" parameterType="map" resultType="java.lang.Integer">
    select
    count(id) as ct
    from site_page
    <where>
      <if test="code!=null">
        and code like CONCAT('%',#{code},'%')
      </if>
      <if test="title!=null">
        and title like CONCAT('%',#{title},'%')
      </if>
      <if test="createby!=null">
        and create_by = #{createby}
      </if>
    </where>
  </select>

  <!-- delete -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from site_page
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- insert -->
  <insert id="insertSelective" parameterType="com.cy.storejj.model.SitePage" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into site_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tplId != null" >
        tpl_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="css != null" >
        css,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tplId != null" >
        #{tplId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="css != null" >
        #{css,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <!-- update -->
  <update id="updateByPrimaryKeySelective" parameterType="com.cy.storejj.model.SitePage" >
    update site_page
    <set >
      <if test="tplId != null" >
        tpl_id = #{tplId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="css != null" >
        css = #{css,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>