<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.storejj.mapper.SysDictMapper" >
  <resultMap id="BaseResultMap" type="com.cy.storejj.model.SysDict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="desc3" property="desc3" jdbcType="VARCHAR" />
    <result column="desc1" property="desc1" jdbcType="VARCHAR" />
    <result column="desc2" property="desc2" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, value, text, sort, desc3, desc1, desc2, create_by, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByType" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from sys_dict
    <where>
      <if test="type!=null">
        and type = #{type}
      </if>
    </where>
    order by sort asc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insertSelective" parameterType="com.cy.storejj.model.SysDict" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="desc3 != null" >
        desc3,
      </if>
      <if test="desc1 != null" >
        desc1,
      </if>
      <if test="desc2 != null" >
        desc2,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="desc3 != null" >
        #{desc3,jdbcType=VARCHAR},
      </if>
      <if test="desc1 != null" >
        #{desc1,jdbcType=VARCHAR},
      </if>
      <if test="desc2 != null" >
        #{desc2,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cy.storejj.model.SysDict" >
    update sys_dict
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="desc3 != null" >
        desc3 = #{desc3,jdbcType=VARCHAR},
      </if>
      <if test="desc1 != null" >
        desc1 = #{desc1,jdbcType=VARCHAR},
      </if>
      <if test="desc2 != null" >
        desc2 = #{desc2,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>