<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<section id="contact-us" th:fragment="contact">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>联系 <span class="color">我们</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- Contact Details -->
            <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                <h3>联系方式</h3>
                <p th:text="${contact.desc3}"></p>
                <div class="contact-details">
                    <div class="con-info clearfix">
                        <i class="fa fa-home fa-lg"></i>
                        <span>地址：</span>
                        <span th:text="${contact.desc1}"></span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="fa fa-phone fa-lg"></i>
                        <span>联系电话：</span>
                        <span th:text="${contact.desc2}"></span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="fa fa-wechat fa-lg"></i>
                        <span>微信公众号：</span>
                        <span th:text="${contact.text}"></span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="fa fa-envelope fa-lg"></i>
                        <span>电子邮箱：</span>
                        <span th:text="${contact.value}"></span>
                    </div>
                </div>
            </div>
            <!-- / End Contact Details -->

            <!-- Contact Form -->
            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" method="post" action="/user/suggestion" role="form">

                    <div class="form-group">
                        <input type="text" placeholder="您的名字" class="form-control" name="userName" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="您的邮箱" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="您的电话" class="form-control" name="mobile" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="您的问题描述" class="form-control" name="content" id="message"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        非常感谢！我们已经收到您的信件
                    </div>

                    <div id="mail-fail" class="error">
                        抱歉！请重试
                    </div>

                    <div id="cf-submit">
                        <input type="button" id="contact-submit" class="btn btn-transparent" value="提 交">
                    </div>

                </form>
            </div>
            <!-- ./End Contact Form -->

        </div> <!-- end row -->
    </div> <!-- end container -->


</section> <!-- end section -->


</html>