<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<section id="counter" class="parallax-section" th:fragment="counter">
    <div class="container">
        <div class="row">

            <!-- first count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
                <div class="counters-item">
                    <div>
                        <span data-speed="3000" data-to="217">217</span>
                    </div>
                    <i class="fa fa-users fa-3x"></i>
                    <h3>在册会员</h3>
                </div>
            </div>
            <!-- end first count item -->

            <!-- second count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="counters-item">
                    <div>
                        <span data-speed="3000" data-to="90">90</span>
                    </div>
                    <i class="fa fa-user-secret fa-3x"></i>
                    <h3>高级会员</h3>
                </div>
            </div>
            <!-- end second count item -->

            <!-- third count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="counters-item">
                    <div>
                        <span data-speed="3000" data-to="25">25</span>
                    </div>
                    <i class="fa fa-birthday-cake fa-3x"></i>
                    <h3>年度活动</h3>

                </div>
            </div>
            <!-- end third count item -->

            <!-- fourth count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="counters-item kill-margin-bottom">
                    <div>
                        <span data-speed="3000" data-to="15">15</span>
                    </div>
                    <i class="fa fa-tasks fa-3x"></i>
                    <h3>玉石品类</h3>
                </div>
            </div>
            <!-- end fourth count item -->

        </div> 		<!-- end row -->
    </div>   	<!-- end container -->
</section>   <!-- end section -->


</html>