<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!-- Widget Section -->
<div id="right-sidebar" class="col-md-4 col-sm-4" th:fragment="right">

    <aside class="widget wow fadeInDown">
        <div class="widget-title">
            <h3>分类</h3>
        </div>
        <div class="widget-content">
            <ul class="categories">
                <li th:class="${#strings.isEmpty(categoryCode)==false?'':'active'}"><i class="fa fa-tag"></i> <a href="javascript:" class="product-search" data-code="" >全部</a></li>
                <li th:each="cat:${categoryList}" th:class="${categoryCode==cat.code?'active':''}"><i class="fa fa-tag"></i> <a th:attr="data-code=${cat.code}" href="javascript:" class="product-search" th:text="${cat.name}">cat</a></li>
            </ul>
        </div>
    </aside>
    <!-- Single Widget -->
    <aside class="widget wow fadeInUp"  data-wow-duration="1000ms">
        <div class="widget-title">
            <h3>搜索</h3>
        </div>
        <div class="widget-content">
            <form method="get" role="search" id="productSearchForm">
                <input th:value="${name}" type="text" class="form-control" placeholder="输入关键词..." autocomplete="on" name="name">
                <button type="submit" title="Search" id="search-submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </aside>
    <!-- End Single Widget -->

    <aside class="widget wow fadeInDown notice" th:if="${#lists.isEmpty(noticeList)==false}">
        <div class="widget-title">
            <h3>通知</h3>
        </div>
        <div class="widget-content notice-content" th:each="notice:${noticeList}">
            <p><b th:text="${notice.text}"></b></p>
            <p th:text="${notice.desc1}">notcie</p>
            <p class="right"><i class="fa fa-clock-o"></i> <i th:text="${#dates.format(notice.createTime,'yyyy-MM-dd')}"></i></p>
        </div>
    </aside>

</div>
<!-- End Widget Section -->
</html>