<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<section id="about" class="bg-one" th:fragment="about">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
                <h2>会员 <span class="color">服务</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- team member -->
            <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" th:if="${#lists.isEmpty(service)==false}" th:each="srv:${service}">
                <article class="team-mate">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img  th:src="@{/getpic?code={code}(code=${srv.value})}" th:alt="${srv.text}">
                        <!-- /member photo -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-title">
                        <h3 th:text="${srv.text}">title</h3>
                    </div>
                    <!-- /member name & designation -->

                    <!-- about member -->
                    <div class="member-info">
                        <p th:text="${srv.desc1}">desc</p>
                    </div>
                    <!-- /about member -->

                </article>
            </div>
            <!-- end team member -->

        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->
</html>