<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<section id="showcase" th:fragment="showcase">
    <div class="container">
        <div class="row wow fadeInDown" data-wow-duration="500ms">
            <div class="col-lg-12">

                <!-- section title -->
                <div class="title text-center">
                    <h2>翡翠 <span class="color">珠宝</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->

                <!-- portfolio item filtering -->
                <div class="portfolio-filter clearfix">
                    <ul class="text-center">
                        <li><a href="javascript:void(0)" class="filter" data-filter="all">全部</a></li>
                        <li><a href="javascript:void(0)" class="filter" data-filter=".newest">推荐</a></li>
                        <li><a href="javascript:void(0)" class="filter" data-filter=".hotest">会员</a></li>

                    </ul>
                </div>
                <!-- /portfolio item filtering -->

            </div> <!-- /end col-lg-12 -->
        </div> <!-- end row -->
    </div>	<!-- end container -->

    <!-- portfolio items -->
    <div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
        <ul id="og-grid" class="og-grid">

            <!-- single portfolio item -->
            <li class="mix newest">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan10.jpg" data-title="富贵平安玉佩" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan10.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>富贵平安玉佩</h3>
                        <span>
                            <i class="fa fa-plus fa-2x"></i>
                        </span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->

            <!-- single portfolio item -->
            <li class="mix hotest">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan9.jpg" data-title="白青翡翠镯" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan9.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>白青翡翠镯</h3>
                        <span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->

            <!-- single portfolio item -->
            <li class="mix hotest">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan1.jpg" data-title="冰清玉洁手镯" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan1.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>冰清玉洁手镯</h3>
                        <span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->

            <!-- single portfolio item -->
            <li class="mix newest">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan5.jpg" data-title="冰清玉洁手镯" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan5.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>冰清玉洁手镯</h3>
                        <span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->

            <!-- single portfolio item -->
            <li class="mix member">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan4.jpg" data-title="富贵平安玉佩" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan4.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>富贵平安玉佩</h3>
                        <span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->

            <!-- single portfolio item -->
            <li class="mix hotest">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan2.jpg" data-title="白青翡翠镯" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan2.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>白青翡翠镯</h3>
                        <span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->



            <!-- single portfolio item -->
            <li class="mix hotest">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan3.jpg" data-title="富贵平安玉佩" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan3.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>富贵平安玉佩</h3>
                        <span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->


            <!-- single portfolio item -->
            <li class="mix illustrator">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan8.jpg" data-title="白青翡翠镯" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan8.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>白青翡翠镯</h3>
                        <span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->

            <!-- single portfolio item -->
            <li class="mix newest">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan7.jpg" data-title="冰清玉洁手镯" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan7.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>冰清玉洁手镯</h3>
                        <span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->

            <!-- single portfolio item -->
            <li class="mix newest">
                <a href="javascript:void(0)" data-largesrc="/getimg?filename=picture_tan6.jpg" data-title="富贵平安玉佩" data-description="在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。">
                    <img src="/getimg?filename=picture_tan6.jpg" alt="CY">
                    <div class="hover-mask">
                        <h3>富贵平安玉佩</h3>
                        <span>
                            <i class="fa fa-plus fa-2x"></i>
                        </span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->

        </ul> <!-- end og grid -->
    </div>  <!-- portfolio items wrapper -->

</section>   <!-- End section -->


</html>