<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<section id="blog" class="bg-one" th:fragment="blog">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeInDown">
                <h2> 新闻 <span class="color">故事</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <div class="clearfix">

                <!-- single blog post -->
                <article th:each="art:${page.article}" class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="note">
                        <div id="gallery-post" class="media-wrapper" th:if="${#lists.isEmpty(art.imageUrl)==false}">
                            <div th:each="img:${art.imageUrl}" class="item">
                                <img th:src="${img}" th:alt="${art.title}" class="img-responsive">
                            </div>
                        </div>

                        <div class="excerpt">
                            <h3 th:text="${art.title}">title</h3>
                            <p th:text="${art.intro}">intro</p>
                            <a class="btn btn-transparent" th:href="@{/story/detail?code={code}(code=${art.code})}">了解更多</a>
                        </div>
                    </div>
                </article>
                <!-- end single blog post -->

            </div>

            <div class="all-post text-center">
                <a class="btn btn-transparent" href="/story">查看全部</a>
            </div>

        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->


</html>