<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<section id="blog" class="bg-one" th:fragment="blog">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeInDown">
                <h2> 新闻 <span class="color">故事</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <div class="clearfix">

                <!-- single blog post -->
                <article class="col-md-3 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-duration="500ms">
                    <div class="note">
                        <div class="media-wrapper">
                            <img src="/getimg?filename=picture_tan1.jpg" alt="amazing caves coverimage" class="img-responsive">
                        </div>

                        <div class="excerpt">
                            <h3>雍容华贵耳环</h3>
                            <p>在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。</p>
                            <a class="btn btn-transparent" href="single-post.html">了解更多</a>
                        </div>
                    </div>
                </article>
                <!-- /single blog post -->

                <!-- single blog post -->
                <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="note">
                        <div id="gallery-post" class="media-wrapper">
                            <div class="item">
                                <img src="/getimg?filename=picture_tan5.jpg" alt="amazing caves coverimage" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="/getimg?filename=picture_tan7.jpg" alt="Flying bicycle" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="/getimg?filename=picture_tan9.jpg" alt="CY" class="img-responsive">
                            </div>
                        </div>

                        <div class="excerpt">
                            <h3>冰清玉洁手镯</h3>
                            <p>在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。</p>
                            <a class="btn btn-transparent" href="single-post.html">了解更多</a>
                        </div>
                    </div>
                </article>
                <!-- end single blog post -->

                <!-- single blog post -->
                <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="note">
                        <div class="media-wrapper">
                            <img src="/getimg?filename=picture_tan2.jpg" alt="amazing caves coverimage" class="img-responsive">
                        </div>

                        <div class="excerpt">
                            <h3>简洁大气戒指</h3>
                            <p>在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。</p>
                            <a class="btn btn-transparent" href="single-post.html">了解更多</a>
                        </div>
                    </div>
                </article>
                <!-- end single blog post -->

                <!-- single blog post -->
                <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="note kill-margin-bottom">
                        <div class="media-wrapper">
                            <img src="/getimg?filename=picture_tan8.jpg" alt="amazing caves coverimage" class="img-responsive">
                        </div>
                        <div class="excerpt">
                            <h3>富贵平安玉佩</h3>
                            <p>在古代翡翠是一种生活在南方的鸟，毛色十分美丽，通常有蓝、绿、红、棕等颜色。一般这种鸟雄性的为红色，谓之“翡”，雌性的为绿色，谓之“翠”。寸开泰撰写的《腾越乡土志》记载：“ 腾为萃数，玉工满千，制为器皿，发售滇垣各行省。</p>
                            <a class="btn btn-transparent" href="single-post.html">了解更多</a>
                        </div>
                    </div>
                </article>
                <!-- end single blog post -->
            </div>

            <div class="all-post text-center">
                <a class="btn btn-transparent" href="/story">查看全部</a>
            </div>

        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->


</html>