<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!-- Widget Section -->
<div id="right-sidebar" class="col-md-4 col-sm-4" th:fragment="right">
    <!-- Single Widget -->
    <aside class="widget wow fadeInUp"  data-wow-duration="1000ms">
        <div class="widget-title">
            <h3>搜索</h3>
        </div>
        <div class="widget-content">
            <form action="#" id="search-form" method="get" role="search">
                <input type="text" class="form-control" placeholder="输入关键词..." autocomplete="on" name="seach">
                <button type="submit" title="Search" id="search-submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </aside>
    <!-- End Single Widget -->

    <!-- Single Widget -->
    <aside class="widget wow fadeInDown">
        <div class="widget-title">
            <h3>通知</h3>
        </div>
        <div class="widget-content">
            <p>2019年6月新到一批原石，新会员享受新人专属价格。6月1日至6月3日期间，高级会员可到店享受会所原石鉴赏服务，届时，会所提供午餐、下午，各种零食饮料。</p>
        </div>
    </aside>
    <!-- End Single Widget -->

    <!-- Single Widget -->
    <aside class="widget wow fadeInUp">
        <div class="widget-title">
            <h3>排行榜</h3>
        </div>

        <div class="widget-content">
            <!-- tab nav -->
            <ul class="tab-post-nav clearfix">
                <li class="active"><a href="#popular" data-toggle="tab">最热</a></li>
                <li><a href="#recent" data-toggle="tab">最新</a></li>
                <li><a href="#most-viewed" data-toggle="tab">最多浏览</a></li>
            </ul>
            <!-- /tab nav -->

            <!-- tab content -->
            <div class="tab-content">
                <article class="tab-pane active tab-post" id="popular">
                    <div class="clearfix">
                        <div class="tab-thumb">
                            <img src="/getimg?filename=picture_w2.jpg" class="img-responsive" alt="CY">
                        </div>
                        <div class="tab-excerpt">
                            <h4><a href="single.html">Post Title Demo</a></h4>
                            <span>November 15 2014</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="tab-thumb">
                            <img src="/getimg?filename=picture_w3.jpg" class="img-responsive" alt="CY">
                        </div>
                        <div class="tab-excerpt">
                            <h4><a href="single.html">Post Title Demo</a></h4>
                            <span>November 15 2014</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
                        </div>
                    </div>
                </article>

                <article class="tab-pane tab-post" id="recent">
                    <div class="clearfix">
                        <div class="tab-thumb">
                            <img src="/getimg?filename=picture_w4.jpg" class="img-responsive" alt="CY">
                        </div>
                        <div class="tab-excerpt">
                            <h4><a href="single.html">Post Title Demo</a></h4>
                            <span>November 15 2014</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="tab-thumb">
                            <img src="/getimg?filename=picture_w5.jpg" class="img-responsive" alt="CY">
                        </div>
                        <div class="tab-excerpt">
                            <h4><a href="single.html">Post Title Demo</a></h4>
                            <span>November 15 2014</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
                        </div>
                    </div>
                </article>

                <article class="tab-pane tab-post" id="most-viewed">
                    <div class="clearfix">
                        <div class="tab-thumb">
                            <img src="/getimg?filename=picture_w6.jpg" class="img-responsive" alt="CY">
                        </div>
                        <div class="tab-excerpt">
                            <h4><a href="single.html">Post Title Demo</a></h4>
                            <span>November 15 2014</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="tab-thumb">
                            <img src="/getimg?filename=picture_w7.jpg" class="img-responsive" alt="CY">
                        </div>
                        <div class="tab-excerpt">
                            <h4><a href="single.html">Post Title Demo</a></h4>
                            <span>November 15 2014</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
                        </div>
                    </div>
                </article>

            </div>
            <!-- /tab content -->

        </div>
    </aside>
    <!-- End Single Widget -->

    <!-- Single Widget -->
    <aside class="widget wow fadeInDown">
        <div class="widget-title">
            <h3>订阅</h3>
            <p>留下您的邮箱，来订阅我的最新动态吧！</p>
        </div>
        <div class="widget-content">
            <form action="">
                <input type="email" name="email" class="form-control" placeholder="Enter your email" required="">
                <input type="submit" value="Subscribe" class="btn btn-transparent">
            </form>
        </div>
    </aside>
    <!-- End Single Widget -->

    <!-- Single Widget -->
    <aside class="widget wow fadeInDown">
        <div class="widget-title">
            <h3>分类</h3>
        </div>
        <div class="widget-content">
            <ul class="categories">
                <li><i class="fa fa-plus"></i> <a href="#">Marketing Policy</a></li>
                <li><i class="fa fa-plus"></i> <a href="#">Business Strategy</a></li>
                <li><i class="fa fa-plus"></i> <a href="#">Web Research</a></li>
                <li><i class="fa fa-plus"></i> <a href="#">Web Development</a></li>
                <li><i class="fa fa-plus"></i> <a href="#">Business Model</a></li>
            </ul>
        </div>
    </aside>
    <!-- End Single Widget -->

    <!-- Single Widget -->
    <aside class="widget wow fadeInDown">
        <div class="widget-title">
            <h3>标签</h3>
        </div>
        <div class="widget-content">
            <a class="tag" href="#">Mobile</a>
            <a class="tag" href="#">Web</a>
            <a class="tag" href="#">Electronics</a>
            <a class="tag" href="#">SEO</a>
            <a class="tag" href="#">Business Story</a>
            <a class="tag" href="#">Post Query</a>
            <a class="tag" href="#">HTML5</a>
            <a class="tag" href="#">CSS3</a>
            <a class="tag" href="#">jQuery</a>
            <a class="tag" href="#">Javascript</a>
        </div>
    </aside>
    <!-- End Single Widget -->

</div>
<!-- End Widget Section -->
</html>