<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="/web/meghna/_include::include"></head>
	
    <body id="body">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div th:replace="/web/meghna/_loading::loading"></div>
        <!--
        End Preloader
        ==================================== -->
		
        <!--
        Welcome Slider
        ==================================== -->
		<!--/#home section-->
		<section th:replace="/web/meghna/_home::home"></section>
        <!-- 
        Fixed Navigation
        ==================================== -->
		<header th:replace="/web/meghna/_topmenu::topmenu"></header>
		<!--
        End Fixed Navigation
        ==================================== -->

		<section th:replace="/web/meghna/_story::blog"></section>

		<section th:replace="/web/meghna/_product::showcase"></section>

		<section th:replace="/web/meghna/_membership::about"></section>

		<section th:replace="/web/meghna/_counter::counter"></section>

		<section th:replace="/web/meghna/_stores::aboutus"></section>

		<section th:replace="/web/meghna/_wechat::twitter"></section>

		<section th:replace="/web/meghna/_contact::contact"></section>


		<!-- footer -->
		<footer th:replace="/web/meghna/_footer::footer"></footer>

		<a th:replace="/web/meghna/_scrollup::scrollup"></a>

		<div th:replace="/web/meghna/_scripts::scripts"></div>

    </body>
</html>