<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="/web/meghna/_include::include"></head>
	
    <body class="blog-page">
		<div th:replace="/web/meghna/_loading::loading"></div>

        <header th:replace="/web/meghna/_topmenu_page::topmenu"></header>

        <section id="blog-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                       
                        <div class="blog-icon">
                            <img src="/getpic?code=news">
                        </div>
                        <div class="blog-title">
                            <h1>欢迎来到#大平珠宝#的空间</h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->

        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-8 col-sm-8">
                        <div class="post-item">

                           
                           <!-- Single Post -->
                            <article th:each="art:${articleList}" class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">

								<div id="post-thumb" class="post-thumb" th:if="${#lists.isEmpty(art.imageUrl)==false}">
									<div class="item" th:each="img:${art.imageUrl}">
										<img th:src="${img}" th:alt="${art.title}" class="img-responsive">
									</div>
								</div>

                                <div class="post-excerpt">
									<h3><a th:href="@{/story/edit?code={code}(code=${art.code})}" th:text="${art.title}">Post with image slider</a></h3>
                                    <p th:text="${art.intro}">content</p>
                                    <a class="btn btn-transparent" a th:href="@{/story/detail?code={code}(code=${art.code})}" >阅读更多</a>
                                </div>
								
                                <div class="post-meta">
                                    <span class="post-date">
                                        <i class="fa fa-calendar"></i>
                                        <i th:text="${#dates.format(art.createTime,'yyyy-MM-dd HH:mm:ss')}"></i>
                                    </span>
                                    <span class="author">
                                        <i class="fa fa-user"></i>
                                        <i th:text="${art.author}">Admin</i>
                                    </span>
                                </div>
                            </article>
                            <!-- End Single Post -->

                               
                            <nav th:replace="/web/meghna/_page::page"></nav>
                        </div>
                    </div>
                    
                    <div th:replace="/web/meghna/_story_right::right"></div>

				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        

		<!-- Start Footer Section
		========================================== -->
		<!-- footer -->
		<footer th:replace="/web/meghna/_footer::footer"></footer>

		<a th:replace="/web/meghna/_scrollup::scrollup"></a>

		<div th:replace="/web/meghna/_scripts::scripts"></div>
    </body>
</html>