<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="/web/meghna/_include::include"></head>
	
    <body class="blog-page">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div th:replace="/web/meghna/_loading::loading"></div>
        <!--
        End Preloader
        ==================================== -->
        
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header th:replace="/web/meghna/_topmenu_page::topmenu"></header>
        <!--
        End Fixed Navigation
        ==================================== -->
        
        
        <!-- Start Blog Banner
        ==================================== -->
        <section id="blog-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                       
                        <div class="blog-icon">
                            <img src="/getimg?filename=picture_tan1.jpg">
                        </div>
                        <div class="blog-title">
                            <h1>欢迎来到#大平珠宝#的空间</h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->

        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-8 col-sm-8">
                        <div class="post-item">
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                               
                                <div class="post-thumb">
                                    <a href="single-post.html">
										<img src="/getimg?filename=picture_w7.jpg" alt="CY" class="img-responsive">
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">绮罗玉的来历</a></h3>
									<p>content</p>
									<a class="btn btn-transparent" href="single-post.html">Read more</a>
								</div>
								<div class="post-meta">
									<span class="post-date">
										<i class="fa fa-calendar"></i>2019-06-03
									</span>
									<span class="comments">
										<i class="fa fa-comments"></i>10 评论
									</span>
									<span class="post-view">
										<i class="fa fa-eye"></i>265 查看
									</span>
									<span class="author">
										<i class="fa fa-user"></i><a href="#">渐渐姑姑</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="#">Web Design</a>, <a href="#">Development</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">

								<div id="post-thumb" class="post-thumb">
									<div class="item">
										<img src="/theme/meghna/img/blog/bicycle.jpg" alt="Flying bicycle" class="img-responsive">
									</div>
									<div class="item">
										<img src="/theme/meghna/img/blog/3D-beach-art.jpg" alt="CY" class="img-responsive">
									</div>
								</div>

                                <div class="post-excerpt">
									<h3><a href="single-post.html">Post with image slider</a></h3>
                                    <p>content</p>
                                    <a class="btn btn-transparent" href="single-post.html">Read more</a>
                                </div>
								
                                <div class="post-meta">
                                    <span class="post-date">
                                        <i class="fa fa-calendar"></i>30 jun 2014
                                    </span>
                                    <span class="comments">
                                        <i class="fa fa-comments"></i>18 Comments
                                    </span>
                                    <span class="post-view">
                                        <i class="fa fa-eye"></i>265 Views
                                    </span>
                                    <span class="author">
                                        <i class="fa fa-user"></i><a href="#">Admin</a>
                                    </span>
                                    <span class="post-tags">
                                        <i class="fa fa-tags"></i><a href="#">Web Design</a>, <a href="#">Development</a>
                                    </span>
                                </div>
                            </article>
                            <!-- End Single Post -->

                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="post-excerpt">
                                    <h3><a href="single-post.html">Post with out media</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae modi quisquam laboriosam, expedita ea natus tempora unde sed sequi velit, quia veniam libero quos sunt praesentium nisi odit architecto fugiat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae modi quisquam laboriosam, expedita ea natus tempora unde sed sequi velit, quia veniam libero quos sunt praesentium nisi odit architecto fugiat?</p>
                                    <a class="btn btn-transparent" href="single-post.html">Read more</a>
                                </div>
                                <div class="post-meta">
                                    <span class="post-date">
                                        <i class="fa fa-calendar"></i>30 jun 2014
                                    </span>
                                    <span class="comments">
                                        <i class="fa fa-comments"></i>18 Comments
                                    </span>
                                    <span class="post-view">
                                        <i class="fa fa-eye"></i>265 Views
                                    </span>
                                    <span class="author">
                                        <i class="fa fa-user"></i><a href="#">Admin</a>
                                    </span>
                                    <span class="post-tags">
                                        <i class="fa fa-tags"></i><a href="#">Web Design</a>, <a href="#">Development</a>
                                    </span>
                                </div>
                            </article>
                            <!-- End Single Post -->
                               
                            <nav th:replace="/web/meghna/_page::page"></nav>
                        </div>
                    </div>
                    
                    <div th:replace="/web/meghna/_story_right::right"></div>

				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        

		<!-- Start Footer Section
		========================================== -->
		<!-- footer -->
		<footer th:replace="/web/meghna/_footer::footer"></footer>

		<a th:replace="/web/meghna/_scrollup::scrollup"></a>

		<div th:replace="/web/meghna/_scripts::scripts"></div>
    </body>
</html>