<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/web/meghna/_include::include"></head>
<body>

    <div th:replace="/web/meghna/_loading::loading"></div>

    <header th:replace="/web/meghna/_topmenu_page::topmenu"></header>

    <section id="login" th:fragment="contact">
        <div class="container">
            <div class="row">

                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>编辑 <span class="color">会员信息</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->

                <!-- Contact Details -->
                <div class="contact-info col-md-4 wow fadeInUp" data-wow-duration="500ms">
                </div>
                <!-- / End Contact Details -->

                <!-- Contact Form -->
                <div class="contact-form col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <form method="post" role="form" id="loginForm">
                        <div class="form-group">
                            <label class="control-label">姓名：</label>
                            <input th:value="${user.name}" type="text" placeholder="姓名" class="form-control" name="name" >
                        </div>
                        <div class="form-group">
                            <label class="control-label">昵称：</label>
                            <input th:value="${user.nickname}" type="text" placeholder="昵称" class="form-control" name="nickname" >
                        </div>
                        <div class="form-group">
                            <label class="control-label">电话：</label>
                            <input th:value="${user.mobile}" type="text" placeholder="电话" class="form-control" name="mobile" >
                        </div>
                        <div class="form-group">
                            <label class="control-label">邮箱：</label>
                            <input th:value="${user.email}" type="text" placeholder="邮箱" class="form-control" name="email" >
                        </div>

                        <div id="cf-submit">
                            <a  id="user-submit" class="btn btn-transparent"><i class="fa fa-save"></i> 保存</a>
                            <a class="btn btn-transparent"  href="/usercenter"><i class="fa fa-home"></i> 返回个人中心</a>
                        </div>

                    </form>
                </div>
                <!-- ./End Contact Form -->

                <!-- Contact Details -->
                <div class="contact-info col-md-4 wow fadeInUp" data-wow-duration="500ms">
                </div>

            </div> <!-- end row -->
        </div> <!-- end container -->


    </section> <!-- end section -->
    <!-- footer -->
    <footer th:replace="/web/meghna/_footer::footer"></footer>

    <a th:replace="/web/meghna/_backhome::backhome"></a>
    <div th:replace="/web/meghna/_scripts::scripts"></div>
    <script>
        $(function () {
            $("#user-submit").click(function () {
                $.ajax({
                    type: 'post',
                    data: $("#loginForm").serialize(),
                    dataType: "json",
                    url: "/usercenter/edit/submit",
                    success: function (msg) {
                            layer.msg(msg.retMsg);
                    }
                })
            });

        });
    </script>
</body>

</html>