<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="/web/meghna/_include::include"></head>
	
    <body>
		<div th:replace="/web/meghna/_loading::loading"></div>

		<header th:replace="/web/meghna/_topmenu_page::topmenu"></header>

		<section class="bg-one" id="user-center">
			<div class="container">
				<div class="row">
					<div class="title text-center wow fadeIn" data-wow-duration="500ms">
						<h2>个人中心-<span class="color" th:text="${user.name}">ME</span></h2>
						<div class="border"></div>
					</div>

					<div class="col-md-2 col-sm-4 col-xs-6 wow fadeInUp" data-wow-duration="500ms">
						<div class="skill-chart text-center">
							<h3><i class="fa fa-user-circle-o"></i> 昵称</h3>
							<p th:text="${user.nickname}"></p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 wow fadeInUp" data-wow-duration="500ms">
						<div class="skill-chart text-center">
							<h3><i class="fa fa-phone"></i> 联系电话</h3>
							<p th:text="${user.mobile}"></p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 wow fadeInUp" data-wow-duration="500ms">
						<div class="skill-chart text-center">
							<h3><i class="fa fa-envelope"></i> 邮箱</h3>
							<p th:text="${user.email}"></p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 wow fadeInUp" data-wow-duration="500ms">
						<div class="skill-chart text-center">
							<h3><i class="fa fa-user-secret"></i> 账号</h3>
							<p th:text="${user.account}"></p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 wow fadeInUp" data-wow-duration="500ms">
						<div class="skill-chart text-center">
							<h3><i class="fa fa-gift"></i> 积分</h3>
							<p th:text="${user.points}"></p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 wow fadeInUp" data-wow-duration="500ms">
						<div class="skill-chart text-center">
							<h3><i class="fa fa-sort-amount-desc"></i> 等级</h3>
							<p th:if="${user.levelInfo!=null}" th:text="${user.levelInfo.title}"></p>
						</div>
					</div>
				</div>

				<div class="all-post text-center">
					<a class="btn btn-transparent" href="/usercenter/edit">编辑个人信息</a>
					<a class="btn btn-transparent" href="/usercenter/logout">退出登录</a>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="row">
					<div class="title text-center wow fadeIn" data-wow-duration="500ms">
						<h2>积分<span class="color">兑换</span></h2>
						<div class="border"></div>
					</div>

					<div class="clearfix">
						<!-- single blog post -->
						<article th:each="prd:${myShop}" class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
							<div class="note">
								<div id="gallery-post"  class="media-wrapper" th:if="${#lists.isEmpty(prd.images)==false}">
									<div th:each="img:${prd.images}" class="item">
										<img th:src=@{/getimg?filename={filename}(filename=${img.url})} th:alt="${prd.name}" class="img-responsive">
									</div>
								</div>

								<div class="excerpt">
									<h3 th:text="${prd.name}">title</h3>
									<p><b><i class="fa fa-cubes"></i> 库存：</b><span th:text="${prd.stock}"></span> |
									<b><i class="fa fa-rmb"></i> 积分：</b><span th:text="${prd.price}"></span></p>
									<a class="btn btn-transparent" th:href="@{/usercenter/exchange?code={code}(code=${prd.code})}">兑 换</a>
								</div>
							</div>
						</article>
						<!-- end single blog post -->
					</div>

					<div class="all-post text-center">
						<a class="btn btn-transparent" href="/usercenter/shopall">查看全部</a>
					</div>
				</div>
			</div>
			<br/>
		</section>

		<section class="bg-one" id="user-order">
			<div class="container">
				<div class="row">
					<div class="title text-center wow fadeIn" data-wow-duration="500ms">
						<h2>我的<span class="color">订单</span></h2>
						<div class="border"></div>
					</div>

					<div class="clearfix col-md-6" th:if="${#lists.isEmpty(orderList)==false}" th:each="order:${orderList}">
						<article class="col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
							<div class="note">
								<div  id="gallery-post" class="media-wrapper" th:if="${#lists.isEmpty(order.product.images)==false}">
									<div th:each="img:${order.product.images}" class="item">
										<img th:src=@{/getimg?filename={filename}(filename=${img.url})} th:alt="${order.product.name}" class="img-responsive">
									</div>
								</div>
							</div>
						</article>
						<div class="clearfix">
							<div class="author-bio">
								<h4 th:text="${order.product.name+'【'+order.product.code+'】'}">name</h4>
								<p><i class="fa fa-cubes"></i> 购买件数：</b><span th:text="${order.count}" ></span> </p>
								<p><i class="fa fa-credit-card"></i> 消耗积分：</b><span th:text="${order.amount}"></span></p>
								<hr/>
								<h5><i class="fa fa-map"></i> 收件地址：<span th:text="${order.address}"></span></h5>
								<h5><i class="fa fa-user-circle-o"></i> 收件人：<span th:text="${order.receiver}"></span></h5>
								<h5><i class="fa fa-phone"></i> 联系电话：<span th:text="${product.mobile}"></span></h5>
								<h5><i class="fa fa-address-card"></i> 快递单号：<span th:text="${product.ems}"></span></h5>
							</div>
						</div>
					</div>

					<div class="all-post text-center">
						<a class="btn btn-transparent" href="/usercenter/myorder">查看全部</a>
					</div>
				</div>
			</div>
		</section>
		<br/>
		<br/>
		<!-- footer -->
		<footer th:replace="/web/meghna/_footer::footer"></footer>

		<a th:replace="/web/meghna/_backhome::backhome"></a>
		<a th:replace="/web/meghna/_scrollup::scrollup"></a>

		<div th:replace="/web/meghna/_scripts::scripts"></div>

    </body>
</html>