<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="/web/meghna/_include::include"></head>
	
    <body id="body">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div th:replace="/web/meghna/_loading::loading"></div>
        <!--
        End Preloader
        ==================================== -->
        <!--
        Welcome Slider
        ==================================== -->
		<!--/#home section-->
		<section th:replace="/web/meghna/_home::home"></section>
        <!-- 
        Fixed Navigation
        ==================================== -->
		<header th:replace="/web/meghna/_topmenu_page::topmenu"></header>

		<section class="bg-one">
			<div class="container">
				<div class="row">
					<div class="title text-center wow fadeIn" data-wow-duration="500ms">
						<h2>个人中心-<span class="color" th:text="${user.account}">ME</span></h2>
						<div class="border"></div>
					</div>

				</div>
			</div>
		</section>



		<!-- footer -->
		<footer th:replace="/web/meghna/_footer::footer"></footer>

		<a th:replace="/web/meghna/_scrollup::scrollup"></a>

		<div th:replace="/web/meghna/_scripts::scripts"></div>

    </body>
</html>